{% macro input(label = '', name = '', id = '', type = 'text', box_size = 12) %}
<div class="col-md-{{ box_size }}">
    <label for="{{ id }}" class="form-label">{{ label }}</label>
    <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ id }}">
</div>
{% endmacro %}

{% macro textarea(label='',name='', id='', cols=40, rows=3, box_size = 12) %}
<div class="col-md-{{ box_size }}">
    <label for="{{ id }}" class="form-label">{{ label }}</label>
    <textarea class="form-control" rows="{{ rows }}" cols="{{ cols }}" name="{{ name }}" id="{{ id }}"></textarea>
</div>
{% endmacro %}

{% macro checkbox(label='',name='', id='',box_size=12) %}
<div class="col-{{ box_size }}">
    <div class="form-check">
        <input class="form-check-input" id="{{ id }}" name="{{ name }}" type="checkbox">
        <label class="form-check-label" for="{{ id }}">
            {{ label }}
        </label>
    </div>
</div>
{% endmacro %}