{% extends "/iot/iot_index.html" %}
{% block content %}
<div class="vertical-center">
    <div class="container forms shadow-sm p-3 mb-5 bg-white border border-secondary rounded">
        <table class="row g-3 justify-content-center view-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Model</th>
                    <th>Marca</th>
                    <th>Tensão</th>
                    <th>Descrição</th>
                    <th>Medida</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in sensors %}
                <tr>
                    <td>{{ sensor.id }}</td>
                    <td>{{ sensor.name }}</td>
                    <td>{{ sensor.model }}</td>
                    <td>{{ sensor.brand }}</td>
                    <td>{{ sensor.voltage }}</td>
                    <td>{{ sensor.description }}</td>
                    <td>{{ sensor.measure }}</td>
                    {% if sensor.is_active == true%} <td>Ativo</td>
                    {% else %} <td>Inativo</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}