<!-- base.html -->
{% extends "admin/admin_base.html" %}
{% block main %}
<main>
    <!-- <head>
        <title>Cobrança</title>
    </head> -->
    <body style="margin: 20px 20px 20px 20px">
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <h2>Módulo de cobrança do Meu Restaurante</h2>
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center">
            <ul>
                <li><a href="register_billing">Cadastrar Cobrança</a></li>
                <li><a href="register_billing_form">Registrar Forma de Pagamento</a></li>
                <li><a href="billing_billing_forms">Registrar Forma de Pagamento à uma Cobrança</a></li>
                <li><a href="view_billings">Listar Cobranças</a></li>
                <li><a href="view_billing_forms">Listar Formas de Pagamento</a></li>
            </ul>
        </div>
    </body>
</main>
{% endblock main %}