{% import "/utils/forms.html" as forms %} {% extends "admin/admin_base.html" %}
{% block main %}
<main class="p-5">
  <h2>Cobrança e Forma de Pagamento</h2>
  <form method="POST">
    <select class="form-select mb-2" name="billing_id" id="" required>
        <option value="" disabled selected>Selecione o produto</option>
        {% for bill in billing %}
            <option value="{{bill.id}}">{{bill.value}}</option>
        {% endfor %}
    </select>
    <select class="form-select mb-2" name="billing_forms_id" id="" required>
        <option value="" disabled selected>Selecione o ingrediente</option>
        {% for forms in billing_forms %}
            <option value="{{forms.id}}">{{forms.name}}</option>
        {% endfor %}
    </select>
    {{forms.button(label="Salvar", box_size=3) }} 
  </form>
</main>
{% endblock main %}