<!-- base.html -->
<html>
    <head>
        <title>Produtos</title>
        {% include "content/link.html" %}
    </head>

    <body>
        {% include "content/basic/header.html" %}
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <h1>Tela de Produtos</h1>
        </div>
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <ul>
                {% for i in range(hrefs|length) %}
                <li class="mb-2"><a href="{{ hrefs[i] }}">{{ descriptions[i] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <p>Voltar para <a href="/">página home</a>!</p>
        </div>
    </body>
    {% include "content/scripts.html" %}
</html>