<html>
    <head>
        {% include "product/basic/title_ingredient.html" %}
        {% include "content/link.html" %}
    </head>

    <body>
        {% include "content/basic/header.html" %}
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <h2>Cadastrar Ingredientes</h2>
        </div>
        <div id="form" class="mb-1 d-flex align-items-center justify-content-center">
            <form action="/product/save_ingredient" method="POST">
                <p class="mb-3">
                    <input type="text" id="idNameIngredient" name="name_ingredient" placeholder="Nome do Ingrediente">
                </p>
                <p class="mb-4">
                    <input type="number" id="idQntdIngredient" name="qntd_ingredient" placeholder="Quantidade no Estoque">
                </p>
                <p class="mb-4" style="margin-right: 75px; margin-left: 75px;">
                    <input type="submit" value="Salvar">
                </p>           
            </form>
        </div>
        {% include "product/save_ingredient.html" %}
    </body>
</html>