<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
        <link href="{{ url_for('static', filename='admin/css/admin.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='home/css/style.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="static/home/img/alert.ico">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/admin/"><img src="static/home/img/170781.png" width="30"> Alert</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <h6 class="dropdown-header">Olá, {{ name }}!</h6>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="">Editar</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">MENU</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTicket" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Usuários
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseTicket" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/admin/user/view_user">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-list-ul"></i>
                                        </div>
                                        Lista de Usuários</a>
                                    <a class="nav-link" href="/admin/user/register_user">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-user-plus"></i>
                                        </div>
                                        Adicionar usuário</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBilling" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-lightbulb"></i></div>
                                IOT
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseBilling" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/admin/iot/">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-chart-area"></i>
                                        </div>
                                        Dashboard</a>
                                    <a class="nav-link" href="/admin/iot/register_sensor">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-broadcast-tower"></i>
                                        </div>
                                        Adicionar Sensor</a>
                                    <a class="nav-link" href="/admin/iot/register_actuator">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-microchip"></i>
                                        </div>
                                        Adicionar Atuador</a>
                                </nav>
                            </div>                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logado como: {{ name }}</div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                {% block main %} {% endblock main %}
            </div>
        </div>
        {% include "utils/scripts.html" %}
    </body>
</html>
