<html>
    <head>
        {% include "product/basic/title_product.html" %}
        {% include "content/link.html" %}
    </head>
    <body>
        {% include "content/basic/header.html" %}
        <div class="mb-5 d-flex align-items-center justify-content-center">
            <h2>Registrar Produtos</h2>
        </div> 
        <div id="form" class="mb-1 d-flex align-items-center justify-content-center">
            <form action="/product/save_product" method="POST">
                <p class="mb-3">
                    <input type="text" id="idNameProduct" name="name_product" placeholder="Nome do Produto">
                </p>
                <p class="mb-3">
                    <input type="text" id="idDescProduct" name="desc_product" placeholder="Tipo do Produto">
                </p>
                <p class="mb-3">
                    <input type="number" step="0.01" id="idValueProduct" name="value_product" placeholder="Valor">
                </p>
                <p class="mb-4">
                    <input type="number" id="idQntdProduct" name="qntd_product" placeholder="Quantidade no Estoque">
                </p>
                <p class="mb-4" style="margin-right: 75px; margin-left: 75px;">
                    <input type="submit" value="Salvar">        
                </p>
            </form>
        </div>
        {% include "product/save_product.html" %}
    </body>
</html