{% block iot %}
<div class="d-flex align-items-center justify-content-center">
    <h1 class="mb-5">
        IoT
    </h1>
</div>
<div class="m-4 d-flex align-items-center justify-content-center">
    <h2>
        Placas
    </h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul class="no-dots">
        <li class="mb-3">
            <a class="btn btn-outline-success" href="IoT/register_boards">
                <i class="fas fa-plus"></i>
                Registrar Placas
            </a>
        </li>
        <li class="">
            <a class="btn btn-outline-secondary" href="IoT/list_of_boards">
                <i class="fa fa-list"></i>
                Visualizar Placas
            </a>
        </li>
    </ul>
</div>
<div class="m-4 d-flex align-items-center justify-content-center">
    <h2>
        Sensores
    </h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <ul class="no-dots">
        <li class="mb-3 align-items-center justify-content-center">
            <a class="btn btn-outline-success" href="IoT/register_sensors">
                <i class="fas fa-plus"></i>
                Registrar Sensores
            </a>
        </li>
        <li class="align-items-center justify-content-center">
            <a class="btn btn-outline-secondary" href="IoT/list_of_sensors">
                <i class="fa fa-list"></i>
                Visualizar Sensores
            </a>
        </li>
    </ul>
</div>
{% endblock %}